DEBUG=True
SECRET_KEY=pon_aqui_una_clave_django_de_desarrollo

DB_NAME=porky_gym_db
DB_USER=tu_usuario_postgresql
DB_PASSWORD=tu_contraseña_postgresql
DB_HOST=localhost
DB_PORT=5432

# URL pública del frontend para recuperación de contraseña
FRONTEND_URL=http://localhost:3000

# Configuración del correo de recuperación mediante Brevo
BREVO_API_KEY=pon_aqui_tu_api_key_de_brevo
BREVO_SENDER_EMAIL=tu_correo_verificado_en_brevo